<p-menubar [model]="[]">
  <!-- Logo on the left -->
  <ng-template pTemplate="start">
    <div class="flex align-items-center">
      <i class="pi pi-building-columns text-xl mr-2"></i>
      <div class="logo" style="display: flex; flex-direction: column;">
        <span class="font-bold text-xl">NTG-ATS</span>
        <span class="font-light text-sm">School management System</span>
      </div>
    </div>
  </ng-template>

  <!-- Buttons on the right -->
  <ng-template pTemplate="end">
    <div class="flex gap-2">
        <button pButton label="Sign In" class="p-button-text custom-signin" routerLink="/auth"
        ></button>
        <button pButton label="Get Started" class="custom-getstarted" routerLink="/auth"
        ></button>

    </div>
  </ng-template>
</p-menubar>

