<p-card class="profile-card mt-8" *ngIf="user">
  <div class="profile-header d-flex justify-content-between align-items-center">
    <div class="header-left d-flex align-items-center">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
        size="xlarge"
        class="mr-3"
      ></p-avatar>
      <div class="profile-info">
        <h2 class="m-0">{{ user.firstName }} {{ user.lastName }}</h2>
        <p class="m-0 text-muted">{{ user.email }}</p>
      </div>
    </div>

    <button
      pButton
      type="button"
      icon="pi pi-pencil"
      class="p-button-text p-button-rounded edit-button"
      (click)="onEdit()"
      [attr.aria-label]="'EDIT_PROFILE' | translate"
    ></button>
  </div>

  <p-divider align="left">
    <span>{{ 'USER_INFORMATION' | translate }}</span>
  </p-divider>

  <div class="profile-fields">
    <div class="field-row">
      <label>{{ 'PHONE' | translate }}</label>
      <span>{{ user.phoneNumber }}</span>
    </div>
    <div class="field-row">
      <label>{{ 'JOB_TITLE' | translate }}</label>
      <span>{{ user.role }}</span>
    </div>
  </div>
</p-card>










