<p-toast></p-toast>

<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-gray-200 to-white">

  <div class="text-center mb-6">
    <h1 class="text-2xl font-bold">
      <i class=" mr-2"></i> Welcome to NTG-ATS
    </h1>
    <p class="text-sm text-gray-600">School Management System</p>

  </div>

  <div class="bg-white border border-gray-200 rounded-lg shadow-md w-full max-w-md">
    <div class="flex">
      <button
        class="w-1/2 py-2 text-center font-semibold transition"
        [ngClass]="activeTab === 'signin' ? 'bg-white text-black border-b-2 border-white' : 'bg-gray-100 text-gray-500'"
        (click)="switchTab('signin')"
      >
        Sign In
      </button>
      <button
        class="w-1/2 py-2 text-center font-semibold transition"
        [ngClass]="activeTab === 'signup' ? 'bg-white text-black border-b-2 border-white' : 'bg-gray-100 text-gray-500'"
        (click)="switchTab('signup')"
      >
        Sign Up
      </button>
    </div>

    <!-- Sign In Form -->
    <div class="p-6" *ngIf="activeTab === 'signin'">
      <h2 class="text-xl font-semibold mb-1">Sign In</h2>
      <p class="text-gray-500 mb-4 -mt-1 text-sm">Sign in to your account</p>

      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="space-y-3">
        <!-- Email Field -->
        <div>
          <label class="text-sm font-medium mb-1 block">Email</label>
          <input
            pInputText
            type="text"
            placeholder="Enter your email"
            formControlName="email"
            autocomplete="off"
            class="w-full px-4 py-2 border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black"
          />

          <!-- Validation  -->
          <div *ngIf="signInForm.controls['email'].touched && signInForm.controls['email'].invalid" class="text-red-500 text-sm">
            <div *ngIf="signInForm.controls['email'].hasError('required')">Please fill out this field.</div>
            <div *ngIf="signInForm.controls['email'].hasError('email')">Please enter a valid email.</div>
          </div>

        </div>
        <!-- Password Field -->

        <div>
          <label class="text-sm font-medium mb-1 block">Password</label>
          <input
            pInputText
            type="password"
            placeholder="Enter your password"
            formControlName="password"
            class="w-full px-4 py-2 border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black"
          />
          <!-- Validation Message for Password -->
          <div *ngIf="signInForm.controls['password'].touched && signInForm.controls['password'].invalid" class="text-red-500 text-sm">
            <div *ngIf="signInForm.controls['password'].hasError('required')">Please fill out this field.</div>
          </div>
        </div>
        <button
          type="submit"
          class="w-full bg-[#0B1120] text-white rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
          [disabled]="signInForm.invalid"
        >
          Sign Up
        </button>

      </form>
    </div>

    <!-- Sign Up Form -->
    <div class="p-6" *ngIf="activeTab === 'signup'">
      <h2 class="text-xl font-semibold mb-1">Sign Up</h2>
      <p class="text-gray-500 mb-4 -mt-1 text-sm">Create a new account</p>

      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" class="space-y-4">
        <!-- Name Field -->
        <div>
          <label class="text-sm font-medium mb-1 block">Full Name</label>
          <input
            pInputText
            type="email"
            placeholder="Enter your full name"
            formControlName="fullName"
            class="w-full px-4 py-2 border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black"
          />
        </div>
        <!-- Email Field -->
        <div>
          <label class="text-sm font-medium mb-1 block">Email</label>
          <input
            pInputText
            type="email"
            placeholder="Enter your email"
            formControlName="email"
            class="w-full px-4 py-2 border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black"
          />

          <div *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].invalid" class="text-red-500 text-sm">
            <div *ngIf="signUpForm.controls['email'].hasError('required')">Please fill out this field.</div>
            <div *ngIf="signUpForm.controls['email'].hasError('email')">Please enter a valid email.</div>
          </div>
        </div>

        <!-- Password Field -->
        <div>
          <label class="text-sm font-medium mb-1 block">Password</label>
          <input
            pInputText
            type="password"
            placeholder="Enter your password"
            formControlName="password"
            class="w-full px-4 py-2  border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black"
          />

          <!-- Validation Message for Password -->
          <div *ngIf="signUpForm.controls['password'].touched && signInForm.controls['password'].invalid" class="text-red-500 text-sm">
            <div *ngIf="signUpForm.controls['password'].hasError('required')">Please fill out this field.</div>
          </div>
        </div>

        <button
          type="submit"
          class="w-full bg-[#0B1120] text-white rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
          [disabled]="signUpForm.invalid"
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
