<p-toast></p-toast>

<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-gray-200 to-white">
  <div class="text-center mb-6">
    <h1 class="text-2xl font-bold">
      <i class=" mr-2"></i> {{ 'WELCOME_TO' | translate }}
    </h1>
    <p class="text-sm text-gray-600">{{ 'SYSTEM_NAME' | translate }}</p>
  </div>

  <div class="bg-white border border-gray-200 rounded-lg shadow-md w-full max-w-md">
    <div class="flex">
      <button
        class="w-1/2 py-2 text-center font-semibold transition"
        [ngClass]="activeTab === 'signin' ? 'bg-white text-black border-b-2 border-white' : 'bg-gray-100 text-gray-500'"
        (click)="switchTab('signin')"
      >
        {{ 'SIGN_IN' | translate }}
      </button>
      <button
        class="w-1/2 py-2 text-center font-semibold transition"
        [ngClass]="activeTab === 'signup' ? 'bg-white text-black border-b-2 border-white' : 'bg-gray-100 text-gray-500'"
        (click)="switchTab('signup')"
      >
        {{ 'SIGN_UP' | translate }}
      </button>
    </div>

    <!-- Sign In Form -->
    <div class="p-6" *ngIf="activeTab === 'signin'">
      <h2 class="text-xl font-semibold mb-1">{{ 'SIGN_IN' | translate }}</h2>
      <p class="text-gray-500 mb-4 -mt-1 text-sm">{{ 'SIGN_IN_TITLE' | translate }}</p>

      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="space-y-3">
        <!-- Email Field -->
        <div>
          <label class="text-sm font-medium mb-1 block text-black">{{ 'EMAIL' | translate }}</label>
          <input
            pInputText
            type="text"
            [placeholder]="'ENTER_EMAIL' | translate"
            formControlName="email"
            autocomplete="off"
            class="w-full px-4 py-2 border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black text-black"
          />
          <div *ngIf="signInForm.controls['email'].touched && signInForm.controls['email'].invalid" class="text-red-500 text-sm">
            <div *ngIf="signInForm.controls['email'].hasError('required')">{{ 'REQUIRED_FIELD' | translate }}</div>
            <div *ngIf="signInForm.controls['email'].hasError('email')">{{ 'INVALID_EMAIL' | translate }}</div>
          </div>
        </div>

        <!-- Password Field -->
        <div>
          <label class="text-sm font-medium mb-1 block text-black">{{ 'PASSWORD' | translate }}</label>
          <input
            pInputText
            type="password"
            [placeholder]="'ENTER_PASSWORD' | translate"
            formControlName="password"
            class="w-full px-4 py-2 border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black text-black"
          />
          <div *ngIf="signInForm.controls['password'].touched && signInForm.controls['password'].invalid" class="text-red-500 text-sm">
            <div *ngIf="signInForm.controls['password'].hasError('required')">{{ 'REQUIRED_FIELD' | translate }}</div>
          </div>
        </div>

        <button
          type="submit"
          class="w-full bg-[#0B1120] text-white rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
          [disabled]="signInForm.invalid"
        >
          {{ 'SUBMIT_SIGNIN' | translate }}
        </button>
      </form>
    </div>

    <!-- Sign Up Form -->
    <div class="p-6" *ngIf="activeTab === 'signup'">
      <h2 class="text-xl font-semibold mb-1">{{ 'SIGN_UP' | translate }}</h2>
      <p class="text-gray-500 mb-4 -mt-1 text-sm">{{ 'SIGN_UP_TITLE' | translate }}</p>

      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" class="space-y-4">
        <!-- Name Field -->
        <div>
          <label class="text-sm font-medium mb-1 block text-black">{{ 'FULL_NAME' | translate }}</label>
          <input
            pInputText
            type="text"
            [placeholder]="'ENTER_NAME' | translate"
            formControlName="fullName"
            class="w-full px-4 py-2 border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black text-black"
          />
        </div>

        <!-- Email Field -->
        <div>
          <label class="text-sm font-medium mb-1 block text-black">{{ 'EMAIL' | translate }}</label>
          <input
            pInputText
            type="email"
            [placeholder]="'ENTER_EMAIL' | translate"
            formControlName="email"
            class="w-full px-4 py-2 border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black text-black"
          />
          <div *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].invalid" class="text-red-500 text-sm">
            <div *ngIf="signUpForm.controls['email'].hasError('required')">{{ 'REQUIRED_FIELD' | translate }}</div>
            <div *ngIf="signUpForm.controls['email'].hasError('email')">{{ 'INVALID_EMAIL' | translate }}</div>
          </div>
        </div>

        <!-- Password Field -->
        <div>
          <label class="text-sm font-medium mb-1 block text-black">{{ 'PASSWORD' | translate }}</label>
          <input
            pInputText
            type="password"
            [placeholder]="'ENTER_PASSWORD' | translate"
            formControlName="password"
            class="w-full px-4 py-2  border-2 border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-black text-black"
          />
          <div *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].invalid" class="text-red-500 text-sm">
            <div *ngIf="signUpForm.controls['password'].hasError('required')">{{ 'REQUIRED_FIELD' | translate }}</div>
          </div>
        </div>

        <button
          type="submit"
          class="w-full bg-[#0B1120] text-white rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-400"
          [disabled]="signUpForm.invalid"
        >
          {{ 'SUBMIT_SIGNUP' | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
