
/* إزالة الحدود والظلال من p-menubar */
.custom-menubar-right {
  border: none !important;
  box-shadow: none !important;
}

/* إزالة الحدود والظلال من p-breadcrumb */


/* إزالة الحدود من عناصر card */
.card {
  border: none !important;
  box-shadow: none !important;
}

/* تعديل محاذاة العناصر داخل menubar إلى أقصى اليمين */
.custom-menubar-right .p-menubar-root {
  justify-content: flex-end !important;
}

